# Entornos virtuales
venv/
rag_env/

# Archivos locales
.env
**/.env
*.log
*.pyc
__pycache__/
.vscode
*.db
chroma_db
cllh_db

# Documentos PDF para procesamiento (no versionar)
*.pdf

# Archivos temporales de análisis
*pattern_analysis*.json